.brc-footer {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--brc-font-color-secondary);
  height: 20vh;
}

.brc-footer-container-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brc-footer-container-content p {
  color: var(--brc-font-color-primary);
}

.brc-footer-social-media {
  display: flex;
  align-items: center;
  background-color: var(--brc-bg-color-primary);
  padding: 15px 0px;
}

.brc-footer-social-media img {
  width: 30px;
  height: 30px;
}

.brc-footer-social-media a {
  color: var(--brc-font-color-primary);
}

@media(max-width: 575px) {
  .brc-footer-container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .brc-footer-container-content p {
    margin-top: 20px;
    font-size: 14px;
  }
}