@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --brc-bg-color-primary: #013e74;

  --brg-bg-color-temporary: #e8e8e8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--brg-bg-color-temporary);
}

h1 {
  color: var(--brc-bg-color-primary);
}

main {
  padding: 0 20px;
}