@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --brc-bg-color-primary: #013e74;
  --brc-bg-color-secondary: #e8e8e8;

  --brc-font-color-primary: #fff;
  --brc-font-color-secondary: #013e74;
  --brc-font-color-tertiary: #5f5f5f;
  --brc-font-color-quaternary: #0caf1d;
  --brc-font-color-quintanary: #0057a3;

  --brc-border-color-primary: #013e74;
  --brc-border-color-secondary: #0057a3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--brg-bg-color-temporary);
}

main {
  padding: 0 20px;
}

.temp-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* button styles */

.brc-btn-primary {
  background-color: var(--brc-bg-color-primary);
  color: var(--brc-font-color-primary);
  border: none;
  border-radius: 8px;
  width: 170px;
  height: 45px;
  font-weight: 600;
}

.brc-btn-secondary {
  color: var(--brc-font-color-secondary);
  background-color: var(--brc-bg-color-secondary);
  border: 2px solid var(--brc-border-color-primary);
  border-radius: 8px;
  width: 170px;
  height: 45px;
  font-weight: 700;
}

/* border styles */

.line-bottom-blue {
  border-bottom: 1px solid var(--brc-border-color-primary);
  margin-top: 20px;
}