.brc-header-client {
  background-color: var(--brc-bg-color-primary);
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.brc-nav-header-client h1 {
  color: var(--brc-font-color-primary);
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

@media (max-width: 576px) {
  .brc-nav-header-client h1 {
    font-size: 20px;
  }
}